{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="kokosearch Search engine">
    <meta name="author" content="Moemen">

    <title>KokoSearch</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="brand-heading">Koko Search</h1>
                    <p class="intro-text">A Search Engine which brings the whole web between your hands</p>
                </div>
            </div>
        </div>
        <div class="container">
            <form action="{% url 'process_query' %}" method="post">{% csrf_token %}
                <div class="form-group row">
                    <div class="col-md-10 col-md-offset-1">
                        <input type="text" autofocus="autofocus" class="form-control" id="searchbox" name="query">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="container">
            <form action="{% url 'process_image' %}" method="post" enctype="multipart/form-data" id="image_form">{% csrf_token %}
                <div style="height:0px;overflow:hidden">
                    <input id="id_image" type="file" class="" name="image">
                </div>
                <button type="button" class="btn btn-primary" id="searchimage" onclick="before_submit();">SEARCH BY IMAGE</button>
            </form>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About KokoSearch</h2>
            <p>Nothing to say our performance will talk about us.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Koko Search Source Code</h2>
            <p>You can contribute</p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="{{ github_repo }}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; KokoSearch 2017</p>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'vendor/jquery/jquery.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- index JavaScript -->
<script src="{% static 'js/index.js' %}"></script>

</body>

</html>
